@media screen and (min-width: 991px) {
    .whyWrp {
        margin: 30px;
        height: 250px;
    }
}
@media screen and (max-width: 991px) {
    .whyWrp {
        height: auto;
        margin: 0 0 20px 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #e3e3e3;
    }
}