@media screen and (min-width: 991px) {
    .bgImageJoin {
        width: 85%;
    }
}
@media screen and (max-width: 991px) {
    .bgImageJoin {
        display: none;
    }
    .cardJoin {
        margin: 0 auto;
        text-align: center;
    }
    .bgMobile {
        background: url(../../../assets/images/bg_features.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left bottom;
    }
}
